# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
develop-eggs/
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/


# Stuff from default git Python .gitignore that were not set by pyscaffold
.webassets-cache
nosetests.xml
db.sqlite3
.ipynb_checkpoints
sdist/
.spyderproject
.mypy_cache/
.env
lib64/
dist/
*.cover
.hypothesis/
.Python
*.sage.py
lib/
downloads/
*.egg-info/
pip-delete-this-directory.txt
*.spec
venv/
*.mo
eggs/
.tox/
*$py.class
.eggs/
pip-log.txt
.python-version
.scrapy
build/
target/
celerybeat-schedule
.spyproject
.venv
parts/
venv.bak/
*.manifest
local_settings.py
ENV/
wheels/
htmlcov/
env/
env.bak/
.cache
__pycache__/
var/
.coverage.*
instance/
docs/_build/
/site
